.cheat-container {
    position: absolute;
    color: red;
    font-size: 2.7em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg) ;
    padding: 8px 16px;
    border: 3px solid red;

    display: none;
}

#username-form {
    max-width: 500px;
    padding: 16px 16px 0;
}

#score {
    padding: 8px 16px;
}

#answers-container {
    overflow: visible scroll;
    padding: 0 16px;
}

#answers {

}

#currentAnswer {
    padding: 0 16px;
}

#form {
    padding: 16px;
}

